.gallerylist {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 0;
}
.gallerylist__item {
  width: calc((100% - 80px)/5);
  height: auto;
}

@media screen and (max-width: 1024px) {
  .gallerylist__item {
    width: calc((100% - 60px)/4);
  }
}
@media screen and (max-width: 767px) {
#pan {
display:inline;
}
  .gallerylist__item {
    width: calc((100% - 40px)/3);
  }
}
@media screen and (max-width: 520px) {
  .gallerylist__item {
    width: calc((100% - 20px)/2);
  }
}
.gallerylist__item a {
  position: relative;
  width: 100%;
  display: block;
}
.gallerylist__item a::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.gallerylist__item a img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}




@import url(https://fonts.googleapis.com/css?family=Montserrat);


.color-white {
  color: #fff;
}

.box-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 40px;
  width: 100%;
}

@media screen and (min-width:1300px) {
  .box-container {
    flex-direction: row
  }
}

.box-item {
  position: relative;
  -webkit-backface-visibility: hidden;
  width: 410px;
  margin-bottom: 35px;
  max-width: 100%;
}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.flip-box-front,
.flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  min-height: 475px;
  -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 60px;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  
  transform: translateY(-50%) translateZ(60px) scale(.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;
}

.flip-box-header {
  font-size: 34px;
}

.flip-box p {
  font-size: 20px;
  line-height: 1.5em;
}

.flip-box-img {
  margin-top: 25px;
}

.flip-box-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
}







/* Colors */
.panel:nth-child(1) {
	--color: #2b614c;
}
.panel:nth-child(2) {
	--color: #E35E60;
}
.panel:nth-child(3) {
	--color: #0f0b2b;
}
.panel:nth-child(4) {
	--color: #E87E83;
}
.panel:nth-child(5) {
	--color: #8a7ede;
}
.panel:nth-child(6) {
	--color: #4d0f16;
}

.panels {
	display: flex;
	justify-content: center;
	padding: 40px;
	transform-style: preserve-3d;
}

.panel {
	display: flex;
	width: 200px;
	margin: 20px 20px;
	transition: all 1s;
	perspective: 600px;
}

.panel:hover,
.panel.open{
	width: 400px;
}

.panel:hover .page1,
.panel.open .page1 {
	margin-left: 0;
	transform: rotateY(0deg);
}

[class^="page"] {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 200px;
	height: 200px;
	flex-shrink: 0;
	border: 2px solid var(--color);
	border-radius: var(--radius);
	box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .1), 0 4px 8px -4px rgba(0, 0, 0, .12), 0 8px 16px -8px rgba(0, 0, 0, .15), 0 16px 24px -16px rgba(0, 0, 0, .17), 0 24px 48px -24px rgba(0, 0, 0, .25);
}

.page1 {
	position: relative;
	margin-left: -200px;
	transform-origin: 100% 50%;
	transform-style: preserve-3d;
	transition: all 1s;
	transform: rotateY(180deg);
	background: var(--color);
}

.front,
.back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.back {
	overflow: hidden;
	background: var(--color);
	border-radius: var(--radius);
}

.front {
	background: white;
	transform: rotateY(180deg);
	border-radius: var(--radius);
}

/* Contents */
.front::before {
	content: '';
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	background: var(--color);
	clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
}

h1 {
	flex-basis: 100%;
	margin: 0;
	color:#FFFFFF;
	padding: 14px 16px 4px;
	font-size: 2.2em;
	background: var(--color);
}

p {
	padding: 16px 16px;
	margin: 0;
	font-size: 1.175em;
	line-height: 1.4;
}

p + p {
	padding-top: 4px;
} 

.button {
	display: flex;
	justify-content: center;
	padding: 12px 16px;
	font-size: 1.175em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	color: #FFF;
	background-color: var(--color);
	text-decoration: none;
	border-radius: 4px;
}








.containerss{
  max-width:1000px;
  margin:100px auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}

.cards{
  position:relative;
  margin:20px 0;
  width:300px;
  height:400px;
  background: #fff;
  transform-style:preserve-3d;
  transform:perspective(2000px);
  transition:1s;
  box-shadow:inset 100px 0 50px rgba(0,0,0,0.5);
}

.cards:hover{
  z-index:1111;
  transform:perspective(2000px);
  box-shadow:inset 20px 0 50px rgba(0,0,0,0.5);
}

.cards .img-container{
  position:relative;
  width:400px;
  height:100%;
  border:1px solid #000;
  box-sizing:border-box;
  transform-origin:left;
  z-index:1;
  transition:1s;
}

.cards .img-container img{
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:100%;
  object-fit:cover;
}

.cards:hover .img-container{
  transform:rotateY(-135deg);
}

.cards .card-details{
  position:absolute;
  left:0;
  top:0;
  box-sizing:border-box;
  padding:20px;
  color:#000;
}

 .cards .card-details h2{
  margin:0;
  padding:0.5em 0;
  text-transform:uppercase;
  font-size:2em;
  color:#ed363a;
}

.cards .card-details p{
  margin:0;
  padding:0;
  line-height:25px;
  font-size:1.1em;
}







:root {
  --surface-color: #0b0a29;
  --curve: 40;
}
.cardss {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: 450px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1.5em;
  margin: 0 0 .3em;
  color: white;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}



.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color:#FFFFFF;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 15;
  font-size:15px;
}    




@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  box-sizing: border-box;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #0eb582;
}

section {
  padding: 5rem 10%;
}

.heading-link {
  text-align: center;
  background-image:url(../images/WhatsApp Image 2023-03-24 at 1.04.46 PM (2).jpeg);
  background-size: cover;
  background-position: center;
}

.heading-link h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #444;
}

.heading-link p {
  font-size: 2rem;
  line-height: 2;
  color: #777;
}

.heading-link p a {
  color: #0eb582;
}

.heading-link p a:hover {
  text-decoration: underline;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #444;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: 0.1rem solid #0eb582;
  background: #f0fdfa;
  color: #0eb582;
  cursor: pointer;
  text-transform: capitalize;
}

.btn:hover {
  background:#043051;
  color: #fff;
}

.header {
  position: -webkit-sticky;
  top: 0;
  left: 0;
  right: 0;
  background:#020a4f;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  font-weight: bolder;
}

.header .logo i {
  color: #0eb582;
}

.header .navbar {
  position: relative;
}


.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
  display: none;
}

.header .navbar #close-navbar:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header .navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color:#FFFFFF;
  text-decoration:none;
}



.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #444;
  margin-left: 1.5rem;
}

.header .icons div:hover {
  color: #0eb582;
}

.header #menu-btn {
  display: none;
}


 .quick-link-container {
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: center;
}
 .quick-link-container .quick-link {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 width: 200px;
	 height: 200px;
	 margin: 15px;
	 border-radius: 10px;
	 overflow: hidden;
	 position: relative;
	 background-color: #eee;
	 box-shadow: 0 0 10px rgba(38, 38, 38, .3);
}
 .quick-link-container .quick-link:after {
	 content: "";
	 position: absolute;
	 display: block;
	 bottom: 0;
	 height: 100%;
	 width: 100%;
	 background-image: linear-gradient(0deg, rgba(0, 0, 0, .2) 20%, transparent);
}
 .quick-link-container .quick-link a {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 flex-direction: column;
	 width: 100%;
	 height: 100%;
	 text-decoration: none;
	 color: #fff;
	 text-transform: uppercase;
	 font-weight: bold;
	 font-size: 1.5rem;
	 z-index: 2;
}
 .quick-link-container .quick-link a:before {
	 content: '#cwc19';
	 display: block;
	 font-size: 0.9rem;
}
 .quick-link-container .quick-link .background {
	 position: absolute;
	 width: 300px;
	 height: 300px;
	 z-index: 1;
	 top: -5%;
	 right: -5%;
	 border-radius: 50%;
	 box-shadow: 3px -7px 28px 0 rgba(38, 38, 38, .3);
	 transition: all 0.2s ease-out;
}
 .quick-link-container .quick-link .background:before, .quick-link-container .quick-link .background:after {
	 content: '';
	 position: absolute;
	 border-radius: 50%;
	 box-shadow: 3px -7px 28px 0 rgba(38, 38, 38, .3);
}
 .quick-link-container .quick-link .background:before {
	 width: 250px;
	 height: 250px;
	 left: -5%;
	 top: 25%;
}
 .quick-link-container .quick-link .background:after {
	 width: 100px;
	 height: 100px;
	 left: 20%;
	 top: 50%;
	 background-color: #232882;
}
 .quick-link-container .quick-link:hover .background {
	 top: -15%;
	 right: -15%;
}
 .quick-link-container .quick-link:nth-child(1) {
	 background-color: #42baff;
}
 .quick-link-container .quick-link:nth-child(2) {
	 background-color: #aa25de;
}
 .quick-link-container .quick-link:nth-child(3) {
	 background-color: #ff1f51;
}
 .quick-link-container .quick-link:nth-child(4) {
	 background-color: #ffe500;
}
 .quick-link-container .quick-link:nth-child(5) {
	 background-color: #00c36e;
}
 .quick-link-container .quick-link:nth-child(6) {
	 background-color: #f50;
}
 


.content {
  width: 100%;
}

.photos {
  width: 95%;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
}

.thumbnails {
  width: calc(100% / 3);
  height: 300px;
  margin: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: transform .3s;
}

.thumbnails a {
  width: 100%;
}

.black {
  text-align: center;
  background: #000;
  background-blend-mode: multiply;
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .7;
}

.title {
  color: #fff;
  font-size: 2em;
  align-self: center;
  position: absolute;
  z-index: 10;
}

.black, .title {
  transition: opacity .3s;
}

.thumbnails:hover {
  cursor: pointer;
  transform: scale(1.05);
  z-index: 20;
}

.thumbnails:hover .black,
.thumbnails:hover .title {
  opacity: 0;
}



#Gallery{
	margin-top:-80px;
	}
	.div4 h2 {
	margin-top:60px;
	
	}
	.div4 a{
	text-decoration:none;
	color:black;
	}
	.div4 a:hover{
	 color:green;
	}
	   .gal{
		width:80%;
		display: flex;
		overflow-x: scroll;
	  }
	  .gal div{
		width:80%;
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap:20px;
		padding: 10px;
		flex: none;
	  }
	  .gal div img{
		width:100%;
		height:250px;
		
	  }
	 .gal::--webkit-scrollbar{
	   display:none;
	   
	  }
	  .gal-wrap{
		display: flex;
		align-items: center;
		justify-content: center;
		margin:5% auto;
		margin-top:30px;
	  }
	  #nextbtn, #backbtn{
		height:30px;
		cursor: pointer;
		margin: 40px;
	  }
	  .gal div img:hover{
		cursor: pointer;
		transform: scale(1,1);
	  }


.nav1 {
	width: 100%;
	height: 50px;
	font-size:15px;
	background:#FF0000;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav1 i{
	margin: 0 10px;
	color:#FFFFFF;
}
.fa:hover{
	color:#CCCCCC;
}

.nav1 .fa-facebook-f{
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	background:#6633FF;
	border-radius:10px;
}
.nav1 .fa-twitter{
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	background:#FF9900;
	border-radius:10px;
}
.nav1 .fa-instagram{
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	background:#b05da8;
	border-radius:10px;
}
.nav1 .fa-linkedin{
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	background:#6633FF;
	border-radius:10px;
}
.nav1 .fa-youtube{
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	background:#00FFFF;
	border-radius:10px;
}
@media only screen and (max-width: 600px) {
  .nav1 {
  	height:70px;
	font-size:7px;
  }
  .containerss .img-container{
  	width:280px;
  }
 
}


.bg-light{
	background-color:transparent !important;
}
.carousel-item{
	height:100vh;
	min-height:300px;
}
.carousel-caption{
	bottom:220px;
}
.carousel-caption h5{
	font-size:45px;
	font-weight:bold;
	color:#FF0000;
	text-transform: uppercase;
	letter-spacing:20px;
	margin-top:25px;
}
.carousel-caption p{
	width:60%;
	color:#FFFFFF;
	font-weight:400;
	margin: auto;
	font-size:18px;
	line-height:1.9;
}
.carousel-caption a{
	text-transform:uppercase;
	text-decoration:none;
	background:#FF0000;
	padding:10px 30px;
	display:inline-block;
	color:#000;
	margin-top:15px;
}
@media only screen and (max-width:767px){
	.carousel-caption{
		bottom:165px;
	}
	.carousel-caption h5{
		font-size:17px;
		font-weight:bold;
	}
	.carousel-caption a{
		padding:10px 15px;
		font-size:15px;
	}

	

}


.account-form {
  position: fixed;
  top: 0;
  right: -105%;
  width: 35rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  z-index: 1200;
  padding: 2rem;
  text-align: center;
}

.account-form.active {
  right: 0;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
}

.account-form #close-form {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
}

.account-form #close-form:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.account-form form {
  border: 0.1rem solid #0eb582;
  padding: 2rem;
  display: none;
}

.account-form form.active {
  display: block;
}

.account-form form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: .5rem;
  text-transform: uppercase;
}

.account-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #0eb582;
  font-size: 1.6rem;
  margin: .7rem 0;
}

.account-form form .flex {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.account-form form .flex label {
  font-size: 1.5rem;
  color: #777;
  cursor: pointer;
}

.account-form form .flex a {
  font-size: 1.5rem;
  color: #777;
  margin-left: auto;
}

.account-form form .flex a:hover {
  text-decoration: underline;
  color: #0eb582;
}

.account-form form .btn {
  width: 100%;
}

.account-form .buttons .btn {
  margin: 0 .5rem;
}

.account-form .buttons .btn.active {
  background: #0eb582;
  color: #fff;
}

.home {
  padding: 0;
}
.about .row {
	
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 3rem;
}
.about .row .video {
	flex: 1 1 41rem;
}
.about .row .video img {
	width: 100%;
}
.about .row .content {
	flex: 1 1 41rem;
}
.about .row .content h3 {
	font-size: 3.5rem;
	color: var(--black);
	text-transform: capitalize;
}
.about .row .content p {
	font-size: 1.5rem;
	color: var(--light-color);
	line-height: 2;
	padding: 1rem 0;
}
.about .box-container {
	margin-top: 3rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	gap: 2rem;
	align-items: flex-end;
}
.about .box-container .box {
	text-align: center;
	/background: var(--light-bg);/
	/background-color:#CCCC00;/
	background-color:#939629;
	padding: 3rem 2rem;
}
.about .box-container .box h3 {
	font-size: 4rem;
	color: var(--black);
	text-transform: capitalize;
}
.about .box-container .box p {
	font-size: 1.5rem;
	color: var(--light-color);
	line-height: 2;
	padding-top: .5rem;
}
.services {
	background: var(--light-bg);
}
.services .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 2rem;
}
.services .box-container .box {
	text-align: center;
	padding: 3rem;
	background: var(--white);
	box-shadow: var(--box-shadow);
	border: var(--border);
}
.services .box-container .box:hover img {
	transform: translateY(-1rem);
}
.services .box-container .box img {
	height: 7rem;
	margin-bottom: .5rem;
	transition: .2s linear;
}
.services .box-container .box h3 {
	font-size: 1.7rem;
	color: var(--black);
	text-transform: capitalize;
	padding: 1rem 0;
}
.services .box-container .box p {
	font-size: 1.4rem;
	color: var(--light-color);
	line-height: 2;
}

.subjects .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.subjects .box-container .box {
  padding: 3rem 2rem;
  text-align: center;
  border: 0.1rem solid #0eb582;
  background:#020a4f;
  cursor: pointer;
}

.subjects .box-container .box:hover {
  background:#020a4f;
}

.subjects .box-container .box:hover h3 {
  color: #fff;
}

.subjects .box-container .box:hover p {
  color: #eee;
}

.subjects .box-container .box img {
  height: 10rem;
  margin-bottom: .7rem;
}

.subjects .box-container .box h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
  color:#FFFFFF;
  padding: .5rem 0;
}

.subjects .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color:#FFFFFF;
}

.home-courses .slide {
  text-align: center;
  position: relative;
  background: #f0fdfa;
  overflow: hidden;
}

.home-courses .slide:hover .content {
  bottom: 0;
}

.home-courses .slide .image {
  padding: 2rem;
}

.home-courses .slide .image img {
  width: 100%;
  margin-bottom: 1.5rem;
}

.home-courses .slide .image h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.home-courses .slide .content {
  position: absolute;
  bottom: -100%;
  right: 0;
  left: 0;
  background: #0eb582;
  padding: 2rem 3rem;
}

.home-courses .slide .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  color: #fff;
}

.home-courses .slide .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  color: #eee;
}

.home-courses .slide .content .btn:hover {
  background: #444;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .image img {
  width: 90%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .content .about-title {
  font-size: 3rem;
  text-transform: capitalize;
  color: #444;
}

.about .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}

.about .content .icons-container {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.about .content .icons-container .icons {
  text-align: center;
  border: 0.1rem solid #0eb582;
  background:#020a4f;
  padding: 3rem 2rem;
}

.about .content .icons-container .icons img {
  height: 5rem;
  margin-bottom: .5rem;
}

.about .content .icons-container .icons h3 {
  padding: .5rem 0;
  font-size: 3rem;
  text-transform: capitalize;
  color:#FFFFFF;
}

.about .content .icons-container .icons span {
  font-size: 1.5rem;
  line-height: 2;
  color:#FFFFFF;
}

.teachers .slide {
  text-align: center;
}

.teachers .slide:hover .image img {
  background: #0eb582;
}

.teachers .slide:hover .image .share {
  bottom: 0;
}

.teachers .slide .image {
  position: relative;
  overflow: hidden;
}

.teachers .slide .image img {
  background: #f0fdfa;
  width: 100%;
}

.teachers .slide .image .share {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
}

.teachers .slide .image .share a {
  font-size: 3rem;
  margin: 0 1rem;
  color: #fff;
}

.teachers .slide .image .share a:hover {
  color: #0eb582;
}

.teachers .slide .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.teachers .slide .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.teachers .slide .content span {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.reviews .slide {
  text-align: center;
}

.reviews .slide p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  position: relative;
  background: #f0fdfa;
  border: 0.1rem solid #0eb582;
  margin-bottom: 3rem;
  padding: 2rem;
}

.reviews .slide p::before {
  content: '';
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  background: #f0fdfa;
  border-bottom: 0.1rem solid #0eb582;
  border-right: 0.1rem solid #0eb582;
  height: 2rem;
  width: 2rem;
}

.reviews .slide img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.reviews .slide h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}

.reviews .slide .stars {
  font-size: 1.2rem;
  color: #0eb582;
}

.courses .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.courses .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.courses .box-container .box.hide {
  display: none;
}

.courses .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.courses .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.courses .box-container .box .image h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color:#FFFFFF;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: .5rem 1.5rem;
  background-color:#121233;
}

.courses .box-container .box .content {
  padding: 2rem;
  text-align: center;
  border: 0.1rem solid #0eb582;
  background-color:#121233;
}

.courses .box-container .box .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: white;
}

.courses .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.6rem;
  line-height: 2;
  color: white;
}



.contact .icons-container {
  margin-bottom: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.contact .icons-container .icons {
  text-align: center;
  padding: 3rem 2rem;
  border: 0.1rem solid #0eb582;
  background: #dde0b4;
}

.contact .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  margin-bottom: .5rem;
  color: #fff;
  background: #0d4754;
}

.contact .icons-container .icons h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}

.contact .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color:#000000;
  font-weight:500;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.contact .row .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.contact .row .image img {
  width: 100%;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  border: 0.1rem solid #0eb582;
  padding: 2rem;
}

.contact .row form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: 1rem;
}

.contact .row form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #0eb582;
  font-size: 1.6rem;
  margin: .7rem 0;
}

.contact .row form .box:focus {
  background: #0eb582;
  color: #fff;
}

.contact .row form .box:focus::-webkit-input-placeholder {
  color: #eee;
}

.contact .row form .box:focus:-ms-input-placeholder {
  color: #eee;
}

.contact .row form .box:focus::-ms-input-placeholder {
  color: #eee;
}

.contact .row form .box:focus::placeholder {
  color: #eee;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.footer {
  background:#020a4f;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #a13050;
  padding: 1rem 0;
}

.footer .box-container .box h3 i {
  color: #0eb582;
}

.footer .box-container .box .share {
  margin-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background-color: #a13050;
  color: #fff;
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background-color: #444;
}

.footer .box-container .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color:#FFFFFF;
  padding: .5rem 0;
  display: block;
}

.footer .box-container .box .link:hover {
  color: #0eb582;
  text-decoration: underline;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}

.footer .box-container .box .email {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  border: 0.1rem solid #0eb582;
  margin-bottom: 1rem;
}

.footer .credit {
  text-align: center;
  margin-top: 1rem;
  padding-top: 3rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  color: #a13050;
  border-top: solid #0eb582;
}

.footer .credit span {
  color:#FFFFFF;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
#c-cap{
margin-bottom:450px;
}
#cap-core{
margin-top:-550px;
}
  .header #menu-btn {
    display: inline-block;
  }	
  
   .photos {
 
  display:inline;
  }
 
  .thumbnails{
  width:100%;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    right: -105%;
    width: 30rem;
    background:#0a1629;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1200;
  }
  .header .navbar #close-navbar {
    display: block;
  }
  .header .navbar.active {
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
  }
  .header .navbar a {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
  .about .content .about-title {
    font-size: 4rem;
  }
}